<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %logger{20} [%-5level]: %msg%n</pattern>
    </encoder>
  </appender>
<!--Log Levels
TRACE
DEBUG
INFO
WARN
ERROR-->
  <!--<logger name="org.usfirst.frc.team1758.robot.subsystems.Vision" level="TRACE" /> -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
