<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %logger{20} [%-5level]: %msg%n</pattern>
    </encoder>
  </appender>
<!--Log Levels
TRACE
DEBUG
INFO
WARN
ERROR-->
	<logger name="org.usfirst.frc.team1758.robot.commands.OrientTarget" level="TRACE"/>
	<logger name="org.usfirst.frc.team1758.robot.commands.ApproachPeg" level="TRACE"/>
	<logger name="org.usfirst.frc.team1758.robot.commands.ToggleGear" level="TRACE"/>
	<root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
